.page-btn-content {
  margin-top: 30px;
  .page-btn {
    border: 1px solid rgba(61, 143, 217, 0.27);
    cursor: pointer;
    border-radius: 5px;
    display: inline-block;
    min-width: 20px;
    text-align: center;
    margin: 3px 3px;
    padding: 5px;
  }

  .page-btn:active {
    background-color: #009a61;
  }
}
