.list-title-cell {
  width: 32%;
  text-align: center;
  height: 50px;
  line-height: 50px;
  background-color: #F6F6F6;
  margin-bottom: 10px;
}

.list-body-cell {
  width: 32%;
  height: 30px;
  line-height: 30px;
  margin-bottom: 5px;
  background-color: #e8e5e5;
}
